


/*=====================================
            BTMBAR PART STYLE
======================================*/
.btmbar-part {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    background: var(--wh-clr);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
    display: none;
}

.btmbar-widget {
    @include flex__center;
    justify-content: space-between;

    li {
        a {
            @include flex__center;
            flex-direction: column;
            width: 70px;
            padding: 8px 0px;
            border-radius: 8px;
            position: relative;

            &:hover {
                background: var(--light-white);

                i {
                    color: var(--brand-clr);
                }

                span {
                    color: var(--brand-clr);
                }
            }

            i {
                color: var(--body-clr);
                font-size: 13px;
                text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
            }

            span {
                color: var(--body-clr);
                font-size: 11px;
                line-height: 18px;
            }

            sup {
                position: absolute;
                top: 0px;
                right: 15px;
                height: 18px;
                line-height: 18px;
                padding: 0px 5px;
                border-radius: 30px;
                background: var(--brand-clr);
                color: var(--wh-clr);
                font-size: 12px;
                text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@media (max-width: 767px) {
    .btmbar-part {
        display: block;
    }
}
