


/*=====================================
        SLIDER RANGE PART STYLE
======================================*/
#slider-range {
    border-radius: 30px;
    margin-top: 15px;

    span {
        border-radius: 50%;
    }
}

#amount {
    color: var(--brand-clr);
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: none;
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.ui-state-active {
    background: var(--brand-clr) !important;
    border-color: var(--brand-clr) !important;
}
