

/*=====================================
            SLIDER ARROW STYLE
======================================*/
.dandik,
.bamdik {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    color: var(--wh-clr);
    background: var(--brand-clr);
    text-shadow: $primary__text__shadow;
    box-shadow: $primary__box__shadow;
    cursor: pointer;
    z-index: 1;
    @include cursor__transition;

     &:hover{
        color: var(--wh-clr);
        background: var(--brand-clr);
    }
}

.dandik {
    right: -25px;
}

.bamdik{
    left: -25px;
}

/*=====================================
     SLIDER ARROW RESPONSIVE STYLE
======================================*/
@media (min-width: 576px) and (max-width: 1199px) {
    .dandik {
        right: -18px;
    }

    .bamdik {
        left: -18px;
    }
}