


/*=====================================
        PRODUCT LIST PART STYLE
======================================*/
.product-list {
    padding: 100px 0px;
    background: var(--light-white);
}

// PRODUCT AD BANNER IMAGE
.product-ad {
    margin-bottom: 30px;

    a {
        img {
            width: 100%;
            border-radius: 3px;
        }
    }
}

// PRODUCT SIDEBAR FILTER 
.product-bar {
    padding: 25px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    background: var(--wh-clr);

    &:last-child {
        margin-bottom: 0px;
    }

    h6 {
        padding-bottom: 15px;
        text-transform: uppercase;
        border-bottom: 1px solid var(--border-clr);
    }
}

.product-bar-content {
    input {
        width: 100%;
        height: 40px;
        padding: 0px 15px;
        border-radius: 3px;
        margin-bottom: 10px;
        border: 1px solid var(--border-clr);
    }

    .scroll-list {
        height: 200px;
        padding: 0px 8px;
        overflow-y: scroll;

        li {
            margin: 8px 0px;
            @include flex__center;
            justify-content: space-between;

            &:hover {
                .custom-control-label,
                .product-cate-number {
                    color: var(--brand-clr);
                }
            }
        }
    }

    .custom-control-label {
        font-size: 15px;
        cursor: pointer;
        text-transform: capitalize;
    }
}

.product-cate-number {
    font-size: 15px;
}

.clear-filter-btn {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0px;
    margin-top: 10px;
    border-radius: 3px;
    @include flex__center;
    color: var(--brand-clr);
    border: 1px solid var(--brand-clr);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    @include cursor__transition;

    &:hover {
        color: var(--wh-clr);
        background: var(--brand-clr);
    }

    i {
        margin-top: -2px;
        margin-right: 5px;
    }
}

// PRODUCT LIST TOP FILTER
.product-filter {
    background: var(--wh-clr);
    border-radius: 3px;
    padding: 15px 25px;
    margin-bottom: 30px;
    @include flex__center;
    justify-content: space-between;
}

.product-card-type {
    display: flex;

    li {
        margin-left: 12px;

        i {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
            background: var(--wh-clr);
        }
    }
}

.grid-verti.active,
.grid-hori.active {
    i {
        color: var(--wh-clr);
        background: var(--brand-clr);
    }
}

// PRODUCT CARD GAPE
.card-gape {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .content-reverse {
        flex-direction: column-reverse;
    }

    .product-ad {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .product-list {
        padding: 80px 0px;
    }

    .product-filter {
        flex-direction: column;
    }

    .product-page-number,
    .product-short-select {
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {
    .product-list {
        padding: 60px 0px;
    }

    .product-card-parent {
        .col-6 {
            padding: 0px 10px;
        }
    }
}