


/*=====================================
            ALL COMMON STYLE
======================================*/
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;

    &:hover {
        text-decoration: none;
    }
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
label {
    margin-bottom: 0px;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    color: var(--body-clr);
    font-size: $body__size;
    font-weight: $regular__weight;
    font-family: $primary__family;
    line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-clr);
    font-weight: $bold__weight;
}

h1 {
    font-size: $h1__size;
}

h2 {
    font-size: $h2__size;
}

h3 {
    font-size: $h3__size;
}

h4 {
    font-size: $h4__size;
}

h5 {
    font-size: $h5__size;
}

input,
textarea {
    &::placeholder {
        color: var(--placeholder-clr);
        font-size: 15px;
        letter-spacing: 0.3px;
    }
}

button:focus {
    outline: none;
}