



/*=====================================
            SECTION HEADING STYLE
======================================*/
.section {
    padding: 100px 0px 0px;
}

.section-heading {
    @include flex__center;
    justify-content: space-between;
    padding: 0px 0px 50px;
}

@media (max-width: 575px) {
    .section {
        padding: 60px 0px 0px;
    }

    .section-heading {
        flex-direction: column;

        h2 {
            margin-bottom: 25px;
        }
    }
}